<div id="<%= dom_id titulo %>">
  <p>
    <strong>Conteudo text:</strong>
    <%= titulo.conteudo_text %>
  </p>

  <p>
    <strong>Data evento:</strong>
    <%= titulo.data_evento %>
  </p>

  <p>
    <strong>L categoria:</strong>
    <%= titulo.l_categoria_id %>
  </p>

</div>
