<!-- Footer Geral -->
<footer class="footer shadow" >
  <div class="container-fluid d-flex justify-content-between">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="http://www.themekita.com">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ajuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Termos</a>
        </li>
      </ul>
    </nav>
    <div>
      Distribuído por 
      <a target="_blank" href="https://themewagon.com/">DhiogoEnterprises</a>.
    </div>
  </div>
</footer>
