<div id="<%= dom_id l_categoria %>">
  <p>
    <strong>Nome:</strong>
    <%= l_categoria.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= l_categoria.descricao %>
  </p>

  <p>
    <strong>L segmento:</strong>
    <%= l_categoria.l_segmento_id %>
  </p>

</div>
