<div id="<%= dom_id l_categoria %>">
  <p>
    <strong>Titulo:</strong>
    <%= l_categoria.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= l_categoria.descricao %>
  </p>

  <p>
    <strong>L segmento:</strong>
    <%= l_categoria.l_segmento_id %>
  </p>

</div>
