<div id="<%= dom_id l_profissional %>">
  <p>
    <strong>Nome:</strong>
    <%= l_profissional.nome %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= l_profissional.especialidade %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= l_profissional.descricao %>
  </p>

</div>
